body{
    background-color: hsl(47, 88%, 63%);

  font-family: 'Figtree', sans-serif;

}

article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 18.38rem;
    height: 28.38rem;  
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 10px;
    overflow: hidden;
    padding: min(5vm, 1rem); 
    /* This padding will either give 5% of the screen but never more than 1rem*/

}

img{
    width: 101%;
    height: auto;
    display: block;
    border-radius: 10px;

}

.Learn{
    background-color: hsl(47, 88%, 63%) ;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    box-shadow: 1px 1px;
    border-radius: 3px;
    width: 70px;
    height: auto;
}

.p1{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.734);
    font-weight: 600;
}

.p2{
    font-size: 20px;
    font-weight: bold;
}

.p3{
    font-size: 14px;
    color: grey;
}

.name{
    margin-top: 41px;
    height: auto;
    display: flex;
}

.image2{
    width: 12%;
    height: 12%;
}

.name-text{
    font-size: 13px;
    font-weight: 650;
    margin-block-start: 10px;
    margin-inline-start: 10px;
}